body {
  margin: 0;
  padding: 0;
  background: lightsalmon;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.storm {
  height:700px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}


.cloud {
  height: 120px;
  width: 350px;
  background: lightgrey;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  border-radius: 100px;
}

.cloud::before, .cloud::after {
  content: '';
  position: relative;
  display:inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud::after {
  width: 100px;
  height: 100px;
  top: -120px;
  left: -130px;
}

.cloud::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 130px;
}

.drops {
  height: 150px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.drop {
  height: 40px;
  width: 30px;
  margin: 0 15px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  background: lightblue;
  box-shadow: 5px 5px rgba(161, 174, 177, 0.7);
}